.password-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.email-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.gender-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.loc-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.name-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.age-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.edu-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}
.phone-button {
    background-color: #fa744f !important;
    border-color: #fa744f !important;
}

.logout-button {
    
    background-color: #16817a !important;
    border-color: #16817a !important;
}

.setting-tron{
    background-color: #FFFFFF!important;
    border-color: #16817a !important;
    border-style: solid
    
    
   
    
}

.edit-tron{
    background-color: #FFFFFF!important;

}

