.upvoteImg{
    margin-top: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 22px;
}
.downvoteImg {
    margin-left: 22px;
}
.voteText{
    margin-left: 10px;
    text-align: left;
    margin-left: 32px;
}
.outerBox {
    padding: 0px !important;
    width: 40px !important;
}
.colBox {
    padding: 0px !important;
    width: 50px !important;
    margin: 0px !important;
}